div.columns.is-multiline {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px
}

.card{
    height: 500px;
}

#userMovies {
    margin: 0 auto;
    width: 100%
}

.column{
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 1000px;
    padding-left: 30px;
}