div.columns.is-multiline {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px
}


#userMovies {
    margin: 0 auto;
    width: 100%
}

#movies {
    background: radial-gradient(#fff, #aaa);
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');

#hero {
    background: radial-gradient(#fff, #aaa);
    background-size: 100vw 100vh; 
    overflow: hidden;
    /* padding-top: 40vh; */
}

#mainTitle {
        color:  rgb(180, 29, 19);
        text-align: center;
        font-family: 'Roboto';
        font-size: 12vmin;
        font-weight: 700;
        text-shadow: 8px 8x 16px grey;
        animation: netflix_style 3.5s infinite;
        outline: none;
        white-space: nowrap;
}
      


#searchBar {
    background-color: rgb(180, 29, 19);
    padding-left: 50px;
    padding-top: 20px;
}

#searchForm{
    width: 400px; 
    height: 50px;
    font-size: larger;
}

#autocompleteUL {
    font-size: larger; 
    width: 400px;
    background-color: white; 
    padding-bottom: 20px;
}

.card {
    padding-top: 10px;
    height: 520px;
}